:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-300);
    font-family: 'Outfit', sans-serif;
    color: var(--slate-900);
}

h1, h2 {
    margin: 0;
}

.qr-code-container {
    background-color: var(--white);
    width: 40vh;
    height: 65vh;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.qr-code-container .titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.titles-container h1 {
    font-size: clamp(1.1rem, 4vw, 1.9rem);
    font-weight: normal;
    text-align: center;
    color: var(--slate-900);
    margin: 0 0 10px 0;
}

.titles-container h2 {
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: normal;
    text-align: center;
    color: var(--slate-500);
}

.img-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 1;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 12px;
}